.primary-header {
padding-top: var(--size-700);
}
.nav-wrapper {
display: flex;
justify-content: space-between;
align-items: center;
}
.mobile-nav-toggle {
display: none;
}
.nav-list {
font-size: var(--fs-nav);
}
.nav-list {
display: flex;
gap: clamp(var(--size-400), 5vw, var(--size-700));
font-weight: var(--fw-semi-bold);
}
.nav-list a {
text-decoration: none;
color: var(--clr-primary-400);
}
.nav-list a:hover,
.nav-list a:focus {
color: var(--clr-accent-400);
}
@media (max-width: 50em) {
.primary-navigation {
display: none;
position: fixed;
padding: var(--size-700);
inset: 7rem var(--size-400) auto;
max-width: 25rem;
margin-left: auto;
background: var(--clr-neutral-100);
border-radius: var(--size-100);
box-shadow: 0 0 0.75em rgb(0, 0, 0, 0.05);
}
.primary-header[data-overlay]::before {
content: "";
position: fixed;
inset: 0;
/* height: 100vh; */
background-image: linear-gradient(rgb(0 0 0 / 0), rgb(0 0 0 / 0.8));
}
.nav-list {
display: grid;
gap: var(--size-600);
text-align: center;
font-weight: var(--fw-bold);
}
.primary-navigation[data-visible] {
display: block;
}
.mobile-nav-toggle {
display: block;
position: fixed;
top: var(--size-600);
right: var(--size-400);
cursor: pointer;
background: transparent;
border: 0;
padding: 0.5em;
}
.mobile-nav-toggle .icon-close {
display: none;
}
}
footer {
    background: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

footer p {
    margin: 0;
    font-size: 0.9em;
}