body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {

    color: hsl(228, 39%, 23%);
    padding: 10px 0;
    text-align: center;
}
.primary-header {
    
    padding: 2rem 0; /* Adjust padding as needed */
    text-align: center; /* Center text within the header */
}

.nav-wrapper {
    display: flex;
    justify-content: center; /* Center the nav items */
    align-items: center;
}

.primary-navigation {
    display: inline-flex; /* Center the navigation items */
}

.nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-list li {
    flex-shrink: 0;
}

.nav-list a {
    text-decoration: none;
    color: hsl(228, 39%, 23%);
    font-size: 1rem;
    padding: 0.5rem 1rem;
    white-space: nowrap;
    transition: color 0.3s ease;
}

.nav-list a:hover {
    color: hsl(12, 88%, 59%);
}

/* Main content styles */
.contact-main {
    padding: 2rem 0;
}
h1 {
    margin: 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.about h2, .about h3 {
    color:hsl(12, 88%, 59%);
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: hsl(232, 12%, 13%);
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}
