@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

.form-box {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border: 4px solid #000; /* Thick black border for the form box */
}

fieldset {
    border: 3px solid #000; /* Thick black border for the fieldset */
    border-radius: 8px;
    padding: 20px;
}
nav {
    background :#e8491d;
    color: #ffffff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.1em;
}

legend {
    color: #ffa500;
    font-weight: bold;
    padding: 0 10px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #ffa500;
    font-weight: 600;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    border: 2px solid #000; /* Thick black border for inputs and textarea */
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

button {
    background-color: #ffa500;
    color: #fff;
    border: 2px solid #000; /* Thick black border for the button */
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff8c00;
}
